.section__about {
   
   .about__item:not(:last-child) {
      @media screen and (max-width:853px) {
         margin-bottom: 15px;
      }
   }

   @media screen and (min-width:769px) {
      margin-top: 80px;
   }

}

.about__image {
   position: relative;
   display: flex;
   justify-content: center;
   

   @media screen and (min-width:768px) {
      flex-basis: calc(100% - 355px);
   }

   img {
      @media screen and (min-width:768px) {
         position: absolute;
         top: -5px;
         left: -60px;
         max-width: 340px;
      }
   }
}


.about__us {
   display: flex;
   flex-direction: column;

   @media screen and (min-width:768px) {
      flex-basis: calc(100% - 300px);
   }
}

