.header__linck{
   font-weight: 400;
   font-size: 18px;
   line-height: 1.22;
   color: var(--main-text-color);
}

.header__navigation{

   @media screen and (max-width:768px) {
      display: none;
   }
}