.contact__form {
   padding: 12px;

   @media screen and (min-width:769px) {
      max-width: 410px;
      margin-right: auto;
      margin-left: auto;
   }
   
}

.form__contact-text{
   text-align: center;
   
   @media screen and (min-width:769px) {
      // max-width: 195px;
   }
}

.contact__label {
   
}

.contact__input {
   width: 100%;
   border: none;
   height: 22px;
   background-color:transparent;
}

.contact__input::placeholder {
   font-size: 16px;
   line-height: 20px;
   color: rgba(171, 129, 108, 0.5);
}