.form__text {
   text-align: center;
   

   @media screen and (min-width:769px) {
      text-align: left;
      max-width: 195px;
   }
}

.section__registration .form__text::before {
   content: "";
   display: block;
   border: 1px solid rgba(171, 129, 108, 0.5);
   width: 100%;
   margin-bottom: 15px;

   @media screen and (min-width:769px) {
      position: absolute;
      top: 80px;
      // left: 100px;
      right: 350px;

      transform: rotate(90deg);
      width: 190px;
      margin-bottom: 0;

   }
}

.form{
   padding: 12px;
   
   @media screen and (min-width:769px) {
      padding: 0;
   }
}

.lebel {
   
}

.input {
   width: 100%;
   border: none;
   height: 22px;
   // margin-bottom: 15px;
}

.input::placeholder {
   font-size: 16px;
   line-height: 20px;
   color: rgba(171, 129, 108, 0.5);
}

.form__border {
   border-bottom: 1px solid #AB816C;
   margin-top: 15px;
}

// .form__input {
//    margin-bottom: 30px;
//    width: 100%;
//    max-width: 200px;
// }


