.contact__form {
   padding: 12px;
}

.contact__label {
   
}

.contact__input {
   width: 100%;
   border: none;
   height: 22px;
   background-color:transparent;
}

.contact__input::placeholder {
   font-size: 16px;
   line-height: 20px;
   color: rgba(171, 129, 108, 0.5);
}