.container {
  width: 100%;
  
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

@media screen and (min-width:320px) {
  width: 320px;
}

@media screen and (min-width:769px) and (max-width:853px) {
  width: 769px;
  padding-left: 58px;
  padding-right: 58px;
}

@media screen and (min-width:854px) {
  width: 854px;
}
}

